# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/" # Location of package manifests
    target-branch: "main"
    schedule:
      interval: "weekly"
    reviewers:
      - "Sundsvallskommun/team-unmasked"
